doctype html
html
  head
    title Form Submission Success
    style.
      body {
        font-family: Arial, sans-serif;
        font-size: 16px;
        color: #333;
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
      }
      h1 {
        text-align: center;
        margin-top: 50px;
      }
      .container {
        width: 80%;
        margin: 0 auto;
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .form-data {
        margin: 30px 0;
      }
      .form-data label {
        display: inline-block;
        width: 100px;
        font-weight: bold;
        margin-right: 10px;
      }
      .form-data span {
        font-weight: normal;
      }
  body
    h1 Form Submission Success
    .container
      h2 Thank you for your submission!
      p Here is the data you provided:
      .form-data
        label Name:
        span= name
        br
        label Email:
        span= email
        br
        label Message:
        span= message
