body
  font: 14px/1.5 Helvetica, Arial, sans-serif
  color: #fff
  background: #fff

header
  background: #222
  padding: 20px 0
  h1
    margin: 0
    color: aqua
    text-align: center
    text-transform: uppercase
    letter-spacing: 2px
    font-weight: normal

.container
  max-width: 960px
  margin: 0 auto
  display: flex

.main-content
  flex-grow: 1
  margin-right: 20px

.sidebar
  flex-shrink: 0
  width: 300px
  padding: 20px
  background: #282727
  border: 1px solid #ddd

footer
  padding: 20px
  background: #222
  color: #fff
  text-align: center

.widget
  background: #eee
  padding: 10px
  margin-bottom: 20px

h1
  font-size: 24px
  margin-bottom: 10px
  text-transform: uppercase
  letter-spacing: 1px
  font-weight: normal

p
  margin: 0 0 10px
