/* body {
  font: 14px/1.5 Helvetica, Arial, sans-serif;
  color: #fff;
  background: #fff;
}

header h1 {
  margin: 0;
  color: #0ff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
}
.main-content {
  flex-grow: 1;
  margin-right: 20px;
}
.sidebar {
  flex-shrink: 0;
  width: 300px;
  padding: 20px;
  background: #282727;
  border: 1px solid #ddd;
}

.widget {
  background: #eee;
  padding: 10px;
  margin-bottom: 20px;
}
h1 {
  font-size: 24px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
}
p {
  margin: 0 0 10px;
} */


/* styles.css */

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

/* Specific styles for the content block */
p {
  margin: 1em 0;
  font-size: 16px;
  line-height: 1.5;
}

/* Specific styles for the sidebar block */
.widget {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
}

.widget h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.widget p {
  font-size: 14px;
  color: #555;
}
footer {
  padding: 10px;
  background: #3d3d3d;
  color: #fff;
  text-align: center;
}